.emblem {
  position: relative;
  width: 60px;
  height: 60px;
}

.emblem .background {
  z-index: -1;
}
.emblem .light {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #f5dc56;
  font-weight: 500;
  text-shadow: 0 0 1px #566ff4;
}

.emblem .class {
  text-overflow: ellipsis;
  color: #fff;
}

.emblem .race {
  font-size: 12px;
  color: white;
  filter: contrast(0.5);
}
